# ------------------------------
# Flutter: Ignore native & build files
# ------------------------------

# Android native files
android/** linguist-vendored
*.gradle linguist-vendored
gradle/** linguist-vendored
local.properties linguist-vendored

# iOS native files
ios/** linguist-vendored
Podfile linguist-vendored
Podfile.lock linguist-vendored
Pods/** linguist-vendored
Runner.xcworkspace/** linguist-vendored

# Build output
build/** linguist-vendored

# IDE / editor files
*.iml linguist-vendored
.idea/** linguist-vendored
.vscode/** linguist-vendored

# Miscellaneous
pubspec.lock linguist-vendored
